<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <appSettings>
    <add key="OriginalResumePath" value="C:\Users\Admin\Downloads\Wasim_Akhtar_Resume.pdf" />
    <add key="ModifiedResumePath" value="C:\Users\Admin\Downloads\Wasim_Akhtar_Resume.pdf" />
    <add key="UserName" value="abc@gmail.com" />
    <add key="Password" value="123456" />
    <add key="MobileNumber" value="9999990880" />
    <add key="jobkeysearch" value="c#" />
    <add key="joblocation" value="india" />
    <add key="totalpagetoscrap" value="10" />
  </appSettings>
</configuration>