<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="OriginalResumePath" value="C:\Users\Admin\Downloads\Documents\WASIM_AKHTAR_VisualCV_Resume.pdf"/>
    <add key="ModifiedResumePath" value="C:\Users\Admin\Downloads\Documents\WASIM_AKHTAR_VisualCV_Resume.pdf"/>
    <add key="UserName" value="Wasim.akh2@gmail.com"/>
    <add key="Password" value="System@6"/>
    <add key="MobileNumber" value="9718742936"/>
  </appSettings>
</configuration>