<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <appSettings>
    <add key="OriginalResumePath" value="C:\Users\wasim\Downloads\Resume-Wasim-Akhtar (2).pdf" />
    <add key="ModifiedResumePath" value="C:\Users\wasim\Downloads\Resume-Wasim-Akhtar (2).pdf" />
    <add key="totalpagetoscrap" value="20" />
  </appSettings>
</configuration>